<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Movies</title>
</head>
<body>
    <div class="container">
        <div class="movies">
            <a href="/movies/add-new-movie" class="create-movie">Create New Movie</a>
            <h1>Movies</h1>     
            <% if (typeof movie != "undefined") { %>
                <div class="list-movies">                               
                    <% movie.forEach(movie => { %>
                        <div class="movie">  
                            <a class="delete-movie-btn" href="/movies/delete/<%=movie._id%>"><i class="fa fa-trash"></i></a>      
                            <div class="movie-poster">
                                <img src="https://images.freecreatives.com/wp-content/uploads/2017/10/flat-clapperboard-icon_1063-38.jpg" alt="">
                            </div>
                            <div class="movie-detail">
                                <div class="detail title">
                                    <strong>Title:</strong><span><%= movie.title %> </span>
                                </div>
                                <div class="detail release-year">
                                    <strong>Release Year:</strong><span><%= movie.releaseYear %> </span>
                                </div>
                                <div class="detail cast">
                                    <strong>Cast:</strong>
                                    <div>
                                        <span class="casts"><%= movie.cast.join(', ') %> </span>                                        
                                        <a href="/movies/<%=movie.title%>">More</a>
                                    </div>
                                    
                                </div>
                                <div class="detail mpaa-rating">
                                    <strong>MPAA Rating:</strong>
                                    <span><%= movie.mpaaRating %> </span>
                                </div>
                                <div class="detail now-showing">
                                    <strong>Now Showing:</strong>
                                    <span><%= movie.nowShowing ? "Yes" : "Nope" %> </span>
                                </div>
                            </div>
                        </div>    
                    <% }) %>                
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>